<header>
    <nav class="middle">
        <section class="container fx-cb">
            <a href="/" class="flex logo">
                <img src="/assets/Images/Logo Icon.svg" alt="Logo">
                SCARTONA
            </a>
            <form class="search-bar" action="/pages/products">
                <input type="text" name="search" placeholder="Search here...">
                <button><i class='bx bx-search'></i></button>
            </form>
            <div class="user-links flex">
                <button class="flex">
                    <img src="/assets/Images/Buy 2.svg" alt="cart">
                    Cart
                </button>
                <button id="favoriteBtn">
                    <i class="fa-regular fa-heart"></i>
                </button>
                <button id="userBtn">
                    <i class="fa-regular fa-user"></i>
                </button>
                <button>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
            </div>
        </section>
    </nav>
    <nav class="links">
        <section class="container fx-cb">
            <div class="links flex">
                <button class="flex" id="categoriesBtn">
                    <i class="fa-solid fa-bars"></i>
                    All Categories
                </button>
                <div id="categories"><ul></ul></div>
                <ul class="flex">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Categories</a></li>
                    <li><a href="/deals">Deals</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/pages/support"></i>Support</a></li>
                </ul>
            </div>
            <p>
                Contact: <span>+201557154846</span>
            </p>
            <form class="search-bar links-search">
                <input type="text" placeholder="Search here...">
                <button><i class='bx bx-search'></i></button>
            </form>
        </section>
    </nav>
    <nav class="side-bar">
        <div class="head">
            <div class="close fx-cb">
                <button id="closeSide"><i class="fa-solid fa-chevron-left"></i></button>
                <a href="/">Comforty</a>
            </div>
            <ul class="navigation">
                <li><a href="/"><i class='fa-solid fa-home'></i>Home</a></li>
                <li><a href="/pages/categories/"><i class="fa-solid fa-layer-group"></i>Categories</a></li>
                <li><a id="white-list"><i class="fa-solid fa-heart"></i>White List</a></li>
                <li><a id="cart"><i class="fa-solid fa-cart-shopping"></i>Cart</a></li>
                <li><a id="orders"><i class="fa-solid fa-box"></i>Orders</a></li>
                <li><a href="/pages/deals"><i class="fa-solid fa-tag"></i>Deals</a></li>
                <li><a href="/pages/support"><i class="fa-solid fa-headset"></i>Support</a></li>
                <li><a href="/pages/about"><i class="fa-solid fa-info"></i>About</a></li>
            </ul>
        </div>
        <div class="foot">
            <ul>
                <li><a id="profile"><i class='bx bx-user-circle'></i>Profile</a></li>
                <li><a id="log-out"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a></li>
            </ul>
        </div>
    </nav>
</header>
