footer {
    border-top: 1px solid #E1E3E5;
}

footer > .links {
    min-height: 343px;
}

footer>.links .chairy {
    width: 350px;
}

footer > .links .chairy li a {
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

footer > .links .chairy li a:hover {
    border-color: var(--main-color);
    color: var(--main-color);
}

footer .support ul a,
footer .category ul a {
    border-bottom: 2px solid transparent;
}

footer .support ul a:hover,
footer .category ul a:hover {
    color: var(--main-color);
    border-bottom-color: var(--primary-active-color);
}

footer .newsletter {
    max-width: 424px;
}

footer .newsletter input[type='text'] {
    max-width: 285px;
    height: 46px;
    border: 1px solid #E1E3E5;
}

footer .newsletter input[type='text']:valid {
    color: #000;
}

footer .newsletter button {
    width: 127px;
    height: 46px;
    cursor: pointer;
}

footer .develop {
    border-top: 1px solid #E1E3E5;
}

footer .develop .container {
    height: 75px;
}

/* Responsive start before 993px */
@media (max-width: 1199px) {
    footer>.links,
    footer .develop .container {
        flex-wrap: wrap;
    }

    footer .newsletter button {
        width: 110px;
        height: 35px;
    }

    footer .newsletter input[type='text'] {
        width: 230px;
        height: 35px;
    }
}