<footer>
    <section class="links container d-flex justify-between align-start gap-8 py-15">
        <div class="chairy d-flex align-start flex-column gap-6">
            <a href="#" class="flex logo">
                <img src="/assets/Images/Logo Icon.svg" alt="logo">
                SCARTONA 
            </a>
            <p class="text-base font-normal text-secondary">Vivamus tristique odio sit amet velit semper, eu posuere turpis interdum. Cras egestas purus</p>
            <ul class="d-flex align-center gap-1">
                <li><a href="#" class="d-flex align-center justify-center text-lg rounded-half h-9 w-9"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#" class="d-flex align-center justify-center text-lg rounded-half h-9 w-9"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="#" class="d-flex align-center justify-center text-lg rounded-half h-9 w-9"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#" class="d-flex align-center justify-center text-lg rounded-half h-9 w-9"><i class="fa-brands fa-pinterest"></i></a></li>
                <li><a href="#" class="d-flex align-center justify-center text-lg rounded-half h-9 w-9"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
        <div class="category d-flex align-start flex-column gap-5">
            <h3 class="text-base font-medium text-secondary-active text-upper">category</h3>
            <ul class="d-flex align-start flex-column gap-3">
                <li><a href="#" class="text-sm font-normal text-primary transition-1 p-0-25">Sofa</a></li>
                <li><a href="#" class="text-sm font-normal text-primary transition-1 p-0-25">Armchair</a></li>
                <li><a href="#" class="text-sm font-normal text-primary transition-1 p-0-25">Wing Chair</a></li>
                <li><a href="#" class="text-sm font-normal text-primary transition-1 p-0-25">Desk Chair</a></li>
                <li><a href="#" class="text-sm font-normal text-primary transition-1 p-0-25">Wooden Chair</a></li>
                <li><a href="#" class="text-sm font-normal text-primary transition-1 p-0-25">Park Bench</a></li>
            </ul>
        </div>
        <div class="support d-flex align-start flex-column gap-5">
            <h3 class="text-base font-medium text-secondary-active text-upper">support</h3>
            <ul class="d-flex align-start flex-column gap-3">
                <li><a href="#" class="text-sm font-normal text-primary transition-1 p-0-25">Help & Support</a></li>
                <li><a href="#" class="text-sm font-normal text-primary transition-1 p-0-25">Tearms & Conditions</a></li>
                <li><a href="#" class="text-sm font-normal text-primary transition-1 p-0-25">Privacy Policy</a></li>
                <li><a href="#" class="text-sm font-normal text-primary transition-1 p-0-25">Help</a></li>
            </ul>
        </div>
        <div class="newsletter d-flex align-start flex-column gap-6">
            <h3 class="text-base font-medium text-secondary-active text-upper">newsletter</h3>
            <form class="d-flex align-center gap-5">
                <input class="outline-none rounded-lg text-base font-normal text-secondary-active px-5" type="text" placeholder="Your email">
                <button class="bg-primary text-base font-semibold border-none outline-none text-white rounded-lg text-center">Subscribe</button>
            </form>
            <p class="text-secondary-active font-normal text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt erat enim.</p>
        </div>
    </section>
    <section class="develop">
        <div class="container flex-center-between gap-3">
            <p class="text-sm font-normal text-secondary-active">
                @ 2024 - Designed by <span class="text-main font-medium">Zakirsoft</span> & Develop by <span class="text-main font-medium">SASA</span>
            </p>
            <ul class="d-flex align-center gap-1">
                <li><a href="#" class="text-secondary-active text-3xl"><i class="fa-brands fa-cc-mastercard"></i></a></li>
                <li><a href="#" class="text-secondary-active text-3xl"><i class="fa-brands fa-cc-paypal"></i></a></li>
                <li><a href="#" class="text-secondary-active text-3xl"><i class="fa-brands fa-cc-amex"></i></a></li>
                <li><a href="#" class="text-secondary-active text-3xl"><i class="fa-brands fa-cc-visa"></i></a></li>
            </ul>
        </div>
    </section>
</footer>