<footer>
    <section class="links container fx-cb">
        <div class="chairy flex-start ">
            <a href="#" class="flex logo">
                <img src="/assets/Images/Logo Icon.svg" alt="logo">
                Chairy
            </a>
            <p>Vivamus tristique odio sit amet velit semper, eu posuere turpis interdum. Cras egestas purus</p>
            <ul class="flex">
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
        <div class="category flex-start">
            <h3>category</h3>
            <ul class="flex-start">
                <li><a href="#">Sofa</a></li>
                <li><a href="#">Armchair</a></li>
                <li><a href="#">Wing Chair</a></li>
                <li><a href="#">Desk Chair</a></li>
                <li><a href="#">Wooden Chair</a></li>
                <li><a href="#">Park Bench</a></li>
            </ul>
        </div>
        <div class="support flex-start">
            <h3>support</h3>
            <ul class="flex-start">
                <li><a href="#">Help & Support</a></li>
                <li><a href="#">Tearms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
        <div class="newsletter flex-start">
            <h3>newsletter</h3>
            <form class="flex">
                <input type="text" placeholder="Your email">
                <button>Subscribe</button>
            </form>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt erat enim.</p>
        </div>
    </section>
    <section class="develop">
        <div class="container fx-cb">
            <p>
                @ 2024 - Designed by <span>Zakirsoft</span> & Develop by <span>SASA</span>
            </p>
            <ul class="flex">
                <li><a href="#"><i class="fa-brands fa-cc-mastercard"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-cc-paypal"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-cc-amex"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-cc-visa"></i></a></li>
            </ul>
        </div>
    </section>
</footer>